<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Strata by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main4.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/maxresdefault-removebg-preview.png" style="width:130%" alt="" /></a>
					<h1><strong>Welcome</strong>,to team sirius<br />
					.Contact our partnered Ngos</h1> <br>
					<a href="/"><button style="width: 90px;padding:8px;color:white;background-color: rgba(0, 0, 0, 0.572);">Home</button></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Our partnered Ngos</h2>
						</header>
						<p>We have partnered with some of the best Ngos in the country and we look forward to help you and provide you with all your basic needs as a citizen of this country. Feel free to contact our team and consider them as your family</p>
						
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Our Partners</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/image001-16.jpg" class="image fit thumb"><img src="images/image001-16.jpg" alt="" /></a>
								<h2><span style="font-weight: bold;">Akshaya Patra Foundation</span></h2>
								<h3><span style="font-weight: bold;">Address:</span> 3744+WFP, Thousand Lights East, Thousand Lights, Chennai, Tamil Nadu 600006</h3>
								<p>Contact: +91 896999xxxx</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/isha.avif" class="image fit thumb"><img src="images/isha.avif" alt="" /></a>
								<h3><span style="font-weight: bold;">
									<h2><span style="font-weight: bold;">Isha Education</span></h2>
									Address:</span> 3744+WFP, Thousand Lights East, Thousand Lights, Chennai, Tamil Nadu 600006</h3>
								<p>Contact: +91 896999xxxx</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/rural.png" class="image fit thumb"><img src="images/rural.png" alt="" /></a>
								<h2><span style="font-weight: bold;">Rural development Foundation</span></h2>
									Address:</span> 3744+WFP, Thousand Lights East, Thousand Lights, Chennai, Tamil Nadu 600006</h3>
								<p>Contact: +91 896999xxxx</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/iskon.jpg" class="image fit thumb"><img src="images/iskon.jpg" style="height: 23.5rem;" alt="" /></a>
								<h2><span style="font-weight: bold;">Iskon Food Foundation</span></h2>
								Address:</span> 3744+WFP, Thousand Lights East, Thousand Lights, Chennai, Tamil Nadu 600006</h3>
							<p>Contact: +91 896999xxxx</p>
							</article>
							
						</div>
						
					</section>

					<section>
						<div id="map">
							<iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.0407858785984!2d80.1512396143235!3d12.840640990941878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5259af8e491f67%3A0x944b42131b757d2d!2sVellore%20Institute%20of%20Technology%20-%20VIT%20Chennai!5e0!3m2!1sen!2sin!4v1664669601537!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</section>

				<!-- Three -->
					<section id="three">
					
					</section>

			

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery3.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/browser3.min.js"></script>
			<script src="js/breakpoints3.min.js"></script>
			<script src="js/util3.js"></script>
			<script src="js/main3.js"></script>
			<script src="js\script3.js"></script>

	</body>
</html>